
agm-map{
    width:1000px;
    height:500px;
 
   
}
.mapSection{
 
    border-radius: 50px;
display: flex;
justify-content: center;
    padding: 20px;
}
form{
width: 50%;
min-width: 600px;
margin: auto;
text-align: center;
display: flex;
justify-content: center;
gap:10px;
padding: 20px;
border-radius: 50px;

}

.formSection{
    margin:40px 0 0 0;
}
@media screen and (max-width:1000px){
    agm-map{
        width:690px !important;
        height:790px;
       
    }
}
@media screen and (max-width:500px){
    agm-map{
        width:690px !important;
        height:790px;
       
    }
}

@media screen and(max-width:700px){
    agm-map{
        margin: 50px 0;
        width:570px !important;
        height:790px;
       
    }
    .mapSection{
        display: flex;
justify-content: center;

    }
    .formSection{
        width: 600px;
        margin:40px 0 0 0;
    }
}